.button-body {
    margin: auto;
    margin-top: 10px;
    width: 100%;
}

.button {
    transform: translateX(50%);
    height: 35px;
    width: 100px;
    padding: 0px;
    border: 2px solid #8C0F31;
    border-radius: 17.5px;
    color: gray;
    outline: none;
    background-color: #0B0A0D;
    position: relative;
}

.button > div {
    transform: translate3d(-20px, 25px, 0);
    height: 0px;
    width: 50px;
    padding: 0px;
    border: .25px solid transparent;
    color: gray;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.button-clicked > div{
    border: 0.25px solid #00fff2;
    transition: 0.5s;
    color: white;
}

.button:hover > div {
    border: 0.25px solid #00fff2;
    transition: 0.25s;
}

.button-notClicked:hover > button{
    border: 2px solid #D90D43;
    transition: 0.25s;
    color: whitesmoke;
}

.button-clicked {
    border: 2px solid #ff0044;
    transition: 0.5s;
    color: white;
}

.button-notClicked {

    transition: 0.5s;
}

/* .slider {
    position: inherit;
    height: 100%;
    width: 5px;
    background-color: rgb(206, 140, 140);
    padding: 0;
}

.slider-extended {
    transform: translateX(95px);
    transition: 1s;
}

.slider-unExtended {
    transition: 1s;
} */