html {
    height: 100%;
}

#sideBar {
    background-color: #0B0A0D;
    height: 100vh;
    width: 15vw;
    border-right: 3px solid #8C0F31;
}

.button-container {
    background-color: #0B0A0D;
    width: 70%;
    padding-left: 30%;
}